<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="application-name" content="畅游看吧">
    <meta name="apple-mobile-web-app-title" content="畅游看吧">
    <title>畅游看吧</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.documentElement.style.fontSize = document.documentElement.clientWidth / 20 + 'px';
        });
    </script>
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="./static/logo/icon57.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./static/logo/icon72.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./static/logo/icon114.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./static/logo/icon144.png">
    <link href="" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <link href="" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <link href="" media="screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)"
          rel="apple-touch-startup-image">
    <link href="" media="screen and (max-device-width: 320)"
          rel="apple-touch-startup-image">
    <link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css"/>
</head>
<body>
<noscript>
    <strong>Please enable JavaScript to continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
